<header class="jumbotron">
  <div class="container">
    <h1>Conformance Status Page</h1>
    <p>This dashboard lists all datasets and APIs published as part of the OpenActive initiative.  Using this dashboard you can see which data publishers support the OpenActive standards and explore summaries of the standardised data.</p>
    <p>
    For information on programmatic access to an up-to-date list of datasets, see:

<a href="https://openactive.io/data-catalogs/">https://openactive.io/data-catalogs/</a>
</p>

  </div>
</header>


<section class="container">
  <p>Main body section</p>
  <table class="table table-hover datasets-table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Feeds</th>
      <th scope="col">License</th>
    </tr>
    </thead>
    <tbody>
    {{#each statusData.publishers}}
      <tr>
        <td>
          {{#if logoUrl}}
          <img src="{{logoUrl}}" class="d-block" alt="{{name}}" style="max-width: 100px; max-height: 100px;" />
          {{/if}}
        </td>
        <td>
          <a name="{{csPublisherId}}"></a>
          <a href="{{url}}">{{name}}</a>
        </td>
        <td>
          <a href="#{{csPublisherId}}" data-cs-publisher-id="{{csPublisherId}}">{{feedCount}}</a>
        </td>
        <td>{{#licenseSnippet license }}{{/licenseSnippet}}</td>
      </tr>
      <tr style="display:none" class="tablesorter-childRow" data-cs-publisher-id="{{csPublisherId}}">
        <td colspan="5"></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <p><a class="btn btn-secondary" href="{{statusUrl}}">Download as JSON</a></p>
</section>

<script>
{{#if error}}
  console.warn("Status source fetch: {{error}}");
{{/if}}
</script>